@{
    Layout = "_LayoutLogin";
}
<!-- Sign up form -->
<section class="signup">
    <div class="container">
        <div class="signup-content">
            <div class="signup-form">
                <h2 class="form-title">Sign up</h2>
                <div method="POST" class="register-form" id="register-form">
                    <div class="form-group">
                        <label for="name">
                            <i class="zmdi zmdi-account material-icons-name"></i>
                        </label>
                        <input type="text" name="name" id="name" placeholder="Your Name" />
                    </div>
                    <div class="form-group">
                        <label for="phone-number">
                            <i class="zmdi zmdi-account material-icons-name"></i>
                        </label>
                        <input type="number" name="phone-number" id="phone-number" placeholder="Your Phone Number" />
                    </div>
                    <div class="form-group">
                        <label for="address">
                            <i class="zmdi zmdi-account material-icons-name"></i>
                        </label>
                        <input type="text" name="address" id="address" placeholder="Your Address" />
                    </div>
                    <div class="form-group">
                        <label for="date-of-birth">
                            <i class="zmdi zmdi-account material-icons-name"></i>
                        </label>
                        <input type="date" name="date-of-birth" id="date-of-birth" placeholder="Your Date Of Birth" />
                    </div>
                    <div class="form-group">
                        <label for="email">
                            <i class="zmdi zmdi-email"></i>
                        </label>
                        <input type="email" name="email" id="email" placeholder="Your Email" />
                    </div>
                    <div class="form-group">
                        <label for="pass">
                            <i class="zmdi zmdi-lock"></i>
                        </label>
                        <input type="password" name="pass" id="pass" placeholder="Password" />
                    </div>
                    <div class="form-group">
                        <label for="re-pass">
                            <i class="zmdi zmdi-lock-outline"></i>
                        </label>
                        <input type="password" name="re_pass" id="re_pass" placeholder="Repeat your password" />
                    </div>
                    <div class="form-group">
                        <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                        <label for="agree-term" class="label-agree-term">
                            <span>
                                <span></span>
                            </span>I agree all statements in <a href="#" class="term-service">Terms of service</a>
                        </label>
                    </div>
                    <div class="form-group form-button">
                        <input onclick="submit()" type="submit" name="signup" id="signup" class="form-submit" value="Register" />
                    </div>
                    <button onclick="home()" class="btn btn-primary">Back</button>
                </div>
            </div>
            <div class="signup-image">
                <figure>
                    <img src="../login/images/signup-image.jpg" alt="sing up image">
                </figure>
                <a asp-controller="Account" asp-action="Signin" class="signup-image-link">I am already member</a>
                <a asp-controller="Home" asp-action="Index" id="return-home" style="display: none"></a>
            </div>
            
        </div>
    </div>
</section>

<script>
     function home() {
        history.back();
    };
    function submit() {
        $("#loader_container").css("display", "flex");
        let data = {
            id: 1,
            name: $("#name").val(),
            dateOfBirth: $("#date-of-birth").val(),
            phoneNumber: $("#phone-number").val(),
            email: $("#email").val(),
            password: $("#pass").val(),
            address: $("#address").val(),
            registrationTime: new Date().toISOString().slice(0, 10)
        }
        $.ajax({
            url: "https://localhost:44394/api/user/register",
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(data),
            async: true,
            success: function (data) {
                console.log(data)
                document.getElementById("return-home").click();
            },
            error: function () {
                $("#loader_container").css("display", "none");
                alert("Cannot get data");
            }
        });
    };
</script>